
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.title {
    font-family: 'Open Sans', sans-serif;
    color:#FFFFFF;
    text-align: center;
    height: 25%;
}

.image {
    width: 100%;
}

.DayPicker-wrapper {
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 600px) {
    .searchWrapper {
        display: flex;
        flex-flow: wrap;
    }

    .image {
        width: 20%;
        padding-top: 4rem;
    }
  }

